{% extends "base.html" %}

{% block content %}
    <h1>Lista de Usuarios</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Contraseña</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in data %}
                <tr>
                    <td>{{ user.idUser }}</td>
                    <td>{{ user.nameUser }}</td>
                    <td>{{ user.passwordUser }}</td>
                    <td>
                        <a href="{{ url_for('user.edit', id=user.idUser) }}" class="btn btn-sm btn-primary">Editar</a>
                        <a href="{{ url_for('user.delete', id=user.idUser) }}" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

